* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#main-container {
    padding: 1.5rem;
    background: #a6cafe;
    border-radius: 1rem;
}

/* Utility class starts*/
.primary-text {
    color: #fff;
}

.secondary-text {
    margin: 10px;
}

.btn-primary {
    padding: 8px;
    margin-left: 20px;
    width: 10em;
    color: #fff;
    border: none;
    border-radius: 3px;
    background: #0e6bff;
    cursor: pointer;
}

.search-input {
    padding: 5px;
    box-shadow: 2px 2px 2px 2px #9cb4ce;
}
/* Utility Class End */

.container {
    display: grid;
    grid-template-areas: 
        'search-panel search-panel sidebar'
        'days-result-container days-result-container sidebar'
        'recent-location recent-location recent-location';
    grid-gap: 1rem;
}

.search-panel {
    grid-area: search-panel;
}

.days-result-container .primary-text {
    margin-top: 0px;
}

.sidebar {
    margin-top: -10px;
    grid-area: sidebar;
}

.recent-location {
    grid-area: recent-location;
}

.recent-location p {
    margin-bottom: 7px;
}

.sidebar {
    display: flex;
}

.sidebar ul {
    padding: 0;
    list-style: none;
    color: #41637e;
}

.weather-result-img img {
    width: 90%;
}

.days-result {
    display: flex;
    text-align: center;
}

.days-result-item {
    background: #fff;
    margin: 5px;
    border-radius: 10px;
}

.days-result img {
    max-width: 85%;
}

.location-link:not(:last-child) {
    margin-right: 1rem;
}

/* Media Query */
@media all and (min-width: 280px) and (max-width: 500px) {
    .location-link:not(:last-child) {
        display: block;
        margin-bottom: 0.5em;
    }

    .days-result-container {
        margin-top: -1em;
    }
}

@media all and (max-width: 700px) {
    .btn-primary {
        width: 5em;
    }

    .container {
        grid-template-areas: 
        'search-panel'
        'sidebar'
        'days-result-container'
        'recent-location';
    }

    .days-result-container {
        margin-top: -1em;
    }

    .days-result {
        display: block;
    }
}

@media all and (min-width: 701px) and (max-width: 768px) {
    .container {
        grid-template-areas: 
        'search-panel'
        'sidebar'
        'days-result-container'
        'recent-location';
    }

    .days-result-container {
        margin-top: -1em;
    }
}